<footer class="center">
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">GitHub Repos</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <p>Made with <span><i class="fas fa-heart"></i></span> by Arnab Mitra</p>
    </div>
    <div class="col-md-4">
      <p>Address: Basak Bagan, 4 NO. Desh Bandhu Nagar, Rabindranath Tagore Road</p>
      <p>Sodepur. Kolkata-700110. West bengal. India.</p>
      <p>Phone Number: <a href="tel:+919674386807">+919674386807</a></p>
      <p>Email: <a href="mailto:mitraarnab.2013@gmail.com">mitraarnab.2013@gmail.com</a></p>
    </div>
  </div>
  <br>
  <br>
  <p>Copyright &copy; of Arnab Mitra 2022.</p>
  <br>
  <br>
</footer>
